<ul class="list-group">
  <% @tracks.each do |track|%>
    <li class="list-group-item">
      <a href="<%= track.link %>" target="_blank"><%= track.link %></a>
      <button type="button", class="btn btn-outline-secondary"><%= link_to t('app.show'), track_path(track) %></button>
    </li>
  <% end %>
</ul>
