<div class="comment-avatar-user"><img src="<%= @comment.user.avatar %>"></div>

<li class="list-group-item bg-comment">
  <div class="comment-body-body">
    <div id="comment-<%= @comment.id %>">
      <div class="comment-user">
        <%= user_name(@comment.user) %>
      </div>
      <div class="comment-body"><%= @comment.body %></div>
  </div>
</li>
