<div class="notice">
  <a href="<%= notification.link %>" class="list-group-item list-group-item-action">
    <div class="row">
      <div class="notice-img">
        <img src="https://img.icons8.com/ultraviolet/40/000000/bird.png">
      </div>

      <div class="notice-info">
        <div><%= translate_notification(notification) %></div>
        <div><%= notification.created_at.to_formatted_s(:short) %></div>
      </div>
    </div>
  </a>
</div>
