<div class="notice">
  <a href="<%= notification.link %>" class="list-group-item list-group-item-action">
    <%= notification.created_at.to_formatted_s(:short) %>: <%= notification.message %>.
  </a>
</div>
