<% flash.each do |key, message| %>
  <div class="alert <%= bootstrap_class(key) %>" id="flash">
    <% if message.is_a?(String) %>
      <div id="flash_<%= key %>"> <%= sanitize(message) %> </div>
    <% end %>
  </div>
<% end %>
