<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/" class="text-dark" >Music application</a></h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <% if user_signed_in? %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "p-2 text-dark" %>
      <%= link_to 'My links', source_links_path, class: "p-2 text-dark" %>
    <% else %>
      <%= link_to 'Login', new_user_session_path, class: "p-2 text-dark" %>
      <%= link_to 'Sign up', new_user_registration_path, class: "p-2 text-dark" %>
    <% end %>
  </nav>
</div>
