<div class="search-wr">
    <div class="input-group md-form form-sm form-2 pl-0">
        <%= form_tag search_index_path, method: :get, class: 'input-group md-form form-sm form-2 pl-0' do %>
          <%= text_field_tag :query, params[:query], id: 'main-search', type: "text", class: "form-control my-0 py-1", placeholder: t('app.search'), 'aria-label': 'Search' %>
          <button id="search-button" class="btn btn-outline-light my-2 my-sm-0" type="submit"><%= t('app.search') %></button>
        <% end %>
    </div>
</div>
