<%= form_tag search_index_path, method: :get, remote: true, class: 'form-inline mt-2 mt-md-0' do %>
  <%= text_field_tag :query, params[:query], type: "text", class: "form-control mr-sm-2", placeholder: t('app.search'), 'aria-label': 'Search'  %>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><%= t('app.search') %></button>
<% end %>

<div id="datalist_index" class="search"></div>
