<div class="top-10">
  <h3><%= t("popular.top_tracks") %></h3>
  <ul class="list-group list-group-flush">
    <% top_tracks.each do |track| %>
      <% if track.present? %>
        <li class="list-group-item">
          <img class="tracks-playlist" src="<%= track.track_image %>">
          <%= link_to "#{track.artist} #{track.name}", track_path(track) %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
