<div class="form">
  <%= form_tag('/links/:id', method: :get) do %>
    <div class="form-group">
      <%= label_tag(:source_link, "Enter link:") %>
      <%= text_field_tag(:source_link) %>
    </div>

    <%= submit_tag("Send") %>
  <% end %>
</div>
