<%= form_tag('/link', method: :get, remote: true) do %>
  <div class="input-group mb-3">
    <%= label_tag(:source_link, "") %>
    <%= text_field_tag :source_link, "", class: "form-control", placeholder: t('input.enter_link') %>

    <div class="input-group-append">
      <%= submit_tag(t('input.send'), class: "btn btn-outline-secondary") %>
    </div>
  </div>
<% end %>

<div id="show_div">
</div>
