<div>
  <% @result.each do |source, link| %>
    <input type="text" value="<%= link %>" id="<%= source %>">
    <button type="button" class="btn btn-secondary" onclick="copy('<%= source %>')">Copy text</button><br>
  <% end %>
</div>
