/*
 *= require info
 *= require search
 *= require tracks
 *= require select_playlist
 *= require assessments
 *= require clear
 *= require comments
 *= require notifications
 *= require playlists
 *= require popular
 *= require tags
 *= require users
 *= require sidebar
 *= require pop_up
 */
@import 'bootstrap';
@import "chat";

body {
  overflow-x: hidden;
}
.container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.comments {
  margin: 0 auto;
  text-align: center;
}
.input-instruction {
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: helvetica;
}
.avatar {
  width: 25px;
  height: 25px;
  border-radius: 100px;
}
.sidebar-heading a {
  color: white;
  text-decoration: none;
}
.form-bg {
  background-color: #23232d;
  color: white;
}
.bg-button {
  background-color: #ef5466;
}
.devise-links a {
  text-decoration: none;
  color: white;
}
.devise-links a:hover {
  border-bottom: 1px solid white;
}
h3 {
  color: white;
  font-family: helvetica;
}
.input-tag {
  width: 50%;
}
