*{
  box-sizing: border-box;
}
.rating {
  margin: 15px;
  display: flex;
}
.rating-item {
  width: 28px;
  height: 28px;
  background-image: url('https://img.icons8.com/ios/24/000000/star.png');
  border: 2px solid #fff;
  cursor: pointer;
}

.rating-item.active{
  background-image: url('https://img.icons8.com/ios-filled/24/000000/star.png');
}
