.info {
  position: relative;

}
.info-info {
  display: inline-block;
  margin-left: 20px;
}
.info-info:last-child {
  margin: 0;
}

.previewImage {
  float: left;
  width: 370px;
  height: 370px;
  border-radius: 20px;
}

.closeImage {
  width: 50px;
  height: 50px;
}
.starsAndButton {
  display: inline-block;
  margin-left: 20px;
}
.starsAndButton button {
  margin-bottom: 10px;
}

