.playlist-image {
  width: 200px;
  height: 200px;
}

.create-new-playlist {
  margin: 0 auto;
  text-align: center;
  padding-top: 15px;
}

.card-text {
  font-weight: bold;
  font-family: "HelveticaNeue-UltraLigh";
}
