.search {
  width: 220px;
  position: absolute;
  top: 50px;
  right: 100px;
}

.search-result {
  padding-bottom: 30px;
  color: white;
}

.search-result .result-user {
  border-radius: 200px;
  width: 256px;
  height: 256px;
}
