*{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
a{
  text-decoration: none;
}
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    height: 100%;
    position: sticky;
    top:0;
  }
  .main-background {
    background-color: #121216;
  }
  .sidebar-bg {
    background-color: #23232d	;
    color:white;
    text-align: center;
  }

  #a-sidebar-main-style {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-size: 18px;
  }

  #a-sidebar-main-style:hover{
    color: #ef5466;
    text-decoration: none;
  }
 
  .a-sidebarClicked{
    text-decoration: none;
    color: #ef5466;
    border-bottom: 2px solid #ef5466;
  }

  .search-wr {
    width: 50%
  }
  .search-navbar {
    border-bottom:0.5px solid gray;
  }
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  .sidebar-heading {
    margin-bottom: 160px;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  .same-dark {
    background-color:#312B41;
  }
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  